@import "../../styles/mixins.scss";

.root {
  position: relative;

  float: left;

  width: 100%;
  min-width: 15rem;
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 0.7rem;

  box-shadow: 0 0.2rem 0.5rem #a6a6a6;
  background: var(--white);
  border: 0.1rem solid var(--white);

  opacity: 0;
  transform-origin: 0 0;
  transition: box-shadow 0.2s, background 0.2s, border 0.2s;

  @include media-tablet {
    box-shadow: none;
  }

  &.isPinned {
    background: var(--light-pinned);
    border: 0.2rem solid rgb(var(--light-blue), var(--15));
    transition: box-shadow 0.2s, background 0.2s, border 0.2s;
  }

  .icon {
    opacity: 1;
    color: #138cf5;
    transition: opacity 0.2s, color 0.2s;

    &:hover {
      color: #0874d2;
    }

    &.delete {
      &:hover {
        color: red;
      }
    }

    &.pinned {
      opacity: 1;
    }
  }

  @include media-tablet {
    .icon {
      opacity: 0;
    }

    .bottom {
      .infos {
        .date,
        .edited {
          opacity: 0;
        }
      }

      .btns {
        .btn {
          opacity: 0;
        }

        .recover {
          opacity: 1;
        }

        .permanentDelete {
          opacity: 1;

          &:hover {
            color: red;
          }
        }
      }
    }

    &:hover {
      box-shadow: 0 0.2rem 0.5rem #a6a6a6;

      .icon {
        opacity: 1;
      }

      .bottom {
        .infos {
          .date,
          .edited {
            opacity: 1;
          }
        }

        .btns {
          .btn {
            opacity: 1;
          }
        }
      }
    }
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: row;

    .imgWrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 10rem;
      height: 10rem;

      .img {
        width: 10rem;
        height: 10rem;
      }
    }

    .content {
      width: 100%;
      margin: 0 0.5rem 4rem 0;

      .title {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }

      .text {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }

    .sideBtns {
      position: relative;

      display: flex;
      align-items: flex-start;

      gap: 1rem;
      min-height: 7rem;
      margin-left: auto;

      .btn {
        position: relative;
        float: right;

        .recover {
          color: var(--blue);

          &:hover {
            color: var(--dark-blue);
          }
        }
      }

      .dropDown {
        z-index: 19;
        position: absolute;
        left: 50%;

        display: flex;
        text-align: start;
        flex-direction: column;
        align-items: flex-start;

        padding: 0;

        background: var(--white);
        transform: translate(-50%, -115%);
        box-shadow: rgba(99, 99, 99, 0.4) 0rem 0.2rem 0.8rem 0rem;
        transition: box-shadow 0.2s, background 0.2s;

        .info {
          width: 100%;
          padding: 1rem 1rem 1rem 2rem;
          font-size: 1.3rem;
          color: var(--dark-background);
          transition: color 0.2s;

          &:hover {
            background: rgba(var(--dark-text), 0.8);
          }
        }
      }
    }
  }

  .bottom {
    position: absolute;

    left: 0;
    width: 100%;
    bottom: 2rem;
    padding: 0 2rem;

    display: flex;
    justify-content: space-between;

    @include media-desktop {
      bottom: 1.5rem;
      padding: 0 1.5rem;
    }

    .infos {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;

      .date,
      .edited {
        font-size: 1rem;
        color: #a6a6a6;
        transition: opacity 0.2s;
      }
    }

    .btns {
      gap: 1rem;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      .btn {
        position: relative;
        float: right;

        .recover {
          color: var(--blue);

          &:hover {
            color: var(--dark-blue);
          }
        }
      }
    }
  }
}

.darkMode {
  box-shadow: none;
  color: var(--dark-text);
  background: var(--dark-background);
  border: 0.1rem solid rgba(var(--dark-text), 0.2);

  &:hover {
    box-shadow: none;
  }

  &.isPinned {
    background: var(--dark-pinned);
    border: 0.2rem solid rgb(var(--yellow), var(--fifteen));
    transition: box-shadow 0.2s, background 0.2s, border 0.2s;
  }

  .icon {
    color: var(--dark-text);

    &:hover {
      color: rgba(var(--dark-text), 0.8);
    }

    &.pinned {
      color: var(--yellow);
    }
  }

  .container {
    .sideBtns {
      .dropDown {
        background: var(--dark-background);
        box-shadow: rgba(0, 0, 0, 0.4) 0rem 0.4rem 1.6rem 0.4rem;

        .info {
          color: var(--dark-text);

          &:hover {
            background: rgba(var(--dark-pinned), 0.7);
          }
        }
      }
    }
  }

  .bottom {
    .btns {
      .btn {
        .recover {
          color: var(--yellow);
          transition: color 0.2s;

          &:hover {
            color: var(--dark-yellow);
          }
        }
      }
    }
  }
}
