@import "../../styles/mixins.scss";

.root {
  position: relative;

  float: left;

  width: 100%;
  min-width: 150px;
  padding: 20px;
  margin: 10px 0;
  border-radius: 7px;

  box-shadow: 0 2px 5px #a6a6a6;
  background: $white;
  border: 1px solid $white;

  opacity: 0;
  transform-origin: 0 0;
  transition: box-shadow 0.2s, background 0.2s, border 0.2s;

  @include media-tablet {
    box-shadow: none;
  }

  &.isPinned {
    background: $light-pinned;
    border: 2px solid rgb($light-blue, 0.15);
    transition: box-shadow 0.2s, background 0.2s, border 0.2s;
  }

  .icon {
    opacity: 1;
    color: #138cf5;
    transition: opacity 0.2s, color 0.2s;

    &:hover {
      color: #0874d2;
    }

    &.delete {
      &:hover {
        color: red;
      }
    }

    &.pinned {
      opacity: 1;
    }
  }

  @include media-tablet {
    .icon {
      opacity: 0;
    }

    .bottom {
      .infos {
        .date,
        .edited {
          opacity: 0;
        }
      }

      .btns {
        .btn {
          opacity: 0;
        }

        .recover {
          opacity: 1;
        }

        .permanentDelete {
          opacity: 1;

          &:hover {
            color: red;
          }
        }
      }
    }

    &:hover {
      box-shadow: 0 2px 5px #a6a6a6;

      .icon {
        opacity: 1;
      }

      .bottom {
        .infos {
          .date,
          .edited {
            opacity: 1;
          }
        }

        .btns {
          .btn {
            opacity: 1;
          }
        }
      }
    }
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: row;

    .imgWrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;

      .img {
        width: 100px;
        height: 100px;
      }
    }

    .content {
      width: 100%;
      margin: 0 5px 40px 0;

      .title {
        font-size: 1em;
        margin-bottom: 15px;
      }

      .text {
        font-size: 0.85em;
        margin-bottom: 10px;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }

    .sideBtns {
      position: relative;

      display: flex;
      align-items: flex-start;

      gap: 10px;
      min-height: 70px;
      margin-left: auto;

      .btn {
        position: relative;
        float: right;

        .recover {
          color: $blue;

          &:hover {
            color: $dark-blue;
          }
        }
      }

      .dropDown {
        z-index: 19;
        position: absolute;
        left: 50%;

        display: flex;
        text-align: start;
        flex-direction: column;
        align-items: flex-start;

        padding: 0;

        background: $white;
        transform: translate(-50%, -115%);
        box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
        transition: box-shadow 0.2s, background 0.2s;

        .info {
          width: 100%;
          padding: 10px 10px 10px 20px;
          font-size: 13px;
          color: $dark-background;
          transition: color 0.2s;

          &:hover {
            background: rgba($dark-text, 0.8);
          }
        }
      }
    }
  }

  .bottom {
    position: absolute;

    left: 0;
    width: 100%;
    bottom: 20px;
    padding: 0 20px;

    display: flex;
    justify-content: space-between;

    @include media-desktop {
      bottom: 15px;
      padding: 0 15px;
    }

    .infos {
      display: flex;
      flex-direction: column;
      gap: 7px;

      .date,
      .edited {
        font-size: 10px;
        color: #a6a6a6;
        transition: opacity 0.2s;
      }
    }

    .btns {
      gap: 10px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      .btn {
        position: relative;
        float: right;

        .recover {
          color: $blue;

          &:hover {
            color: $dark-blue;
          }
        }
      }
    }
  }
}

.darkMode {
  box-shadow: none;
  color: $dark-text;
  background: $dark-background;
  border: 1px solid rgba($dark-text, 0.2);

  &:hover {
    box-shadow: none;
  }

  &.isPinned {
    background: $dark-pinned;
    border: 2px solid rgb($yellow, 0.15);
    transition: box-shadow 0.2s, background 0.2s, border 0.2s;
  }

  .icon {
    color: $dark-text;

    &:hover {
      color: rgba($dark-text, 0.8);
    }

    &.pinned {
      color: $yellow;
    }
  }

  .container {
    .sideBtns {
      .dropDown {
        background: $dark-background;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 16px 4px;

        .info {
          color: $dark-text;

          &:hover {
            background: rgba($dark-pinned, 0.7);
          }
        }
      }
    }
  }

  .bottom {
    .btns {
      .btn {
        .recover {
          color: $yellow;
          transition: color 0.2s;

          &:hover {
            color: $dark-yellow;
          }
        }
      }
    }
  }
}
