@import "../../styles/mixins.scss";

.root {
  position: relative;
  min-height: 100vh;
  transition: background 0.2s;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0 0;

    .title {
      color: $blue;
      font-size: 3rem;
    }
  }

  .notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2.5rem 0 15rem 0;
    margin: 0 2.5rem;
    gap: 2rem;

    .emptyNotes {
      color: $gray;
      padding: 20rem 0 0;
      font-size: 1.4rem;
    }
  }

  .deleteAllNotes {
    z-index: 2;
    position: fixed;

    right: 1.5rem;
    width: 4rem;
    bottom: 1.5rem;
    height: 4rem;
    border: none;
    border-radius: 50%;

    color: $white;
    background: $blue;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);

    outline: none;
    cursor: pointer;
    transition: all ease 0.2s;

    @include media-desktop {
      right: 2rem;
      width: 5rem;
      bottom: 2rem;
      height: 5rem;
    }

    @include media-desktopLg {
      right: 3rem;
      bottom: 3rem;
    }

    .icon {
      display: flex;
      width: 2rem;
      height: 2rem;
      margin-left: 50%;
      transform: translateX(-50%);

      @include media-desktop {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    &:hover {
      background: $red;
    }
  }
}

.darkMode {
  background: $dark-background;

  .header {
    .title {
      color: $dark-yellow;
    }
  }

  .notes {
    .emptyNotes {
      color: $dark-text;
    }
  }

  .deleteAllNotes {
    background: $dark-text;
    color: $dark-background;

    &:hover {
      color: $dark-text;
    }
  }
}
