$gray: #ccc;
$white: #fff;
$black: #000;
$red: #f02849;
$blue: #138cf5;
$yellow: #fbbc04;

$light-blue: #2799fc;

$dark-blue: #0d7ddf;
$dark-text: #e8eaed;
$dark-yellow: #e6ad00;
$dark-background: #202124;

$breakpoint-desktop: 552px;

@mixin media-desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}
