@import "../../styles/mixins.scss";

.root {
  position: relative;
  min-height: 100vh;
  transition: background 0.2s;

  .wrapper {
    position: relative;

    padding: 0 16px;

    .createArea {
      padding: 30px 0 0;
    }

    .emptyNotes {
      display: flex;
      justify-content: center;

      color: $gray;
    }

    .notes {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      padding: 0 0 150px 0;

      .noResults {
        color: $gray;
        transition: color 0.2s;
        margin: 100px 0 0;
      }
    }

    .reset {
      z-index: 9;
      position: fixed;

      right: 15px;
      width: 40px;
      bottom: 15px;
      height: 40px;
      border: none;
      border-radius: 50%;

      color: $white;
      background: $blue;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

      outline: none;
      cursor: pointer;
      transition: all ease 0.2s;

      @include media-desktop {
        right: 20px;
        width: 50px;
        bottom: 20px;
        height: 50px;

        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      }

      .icon {
        display: flex;

        width: 20px;
        height: 20px;
        margin-left: 50%;
        transform: translateX(-50%);

        @include media-desktop {
          width: 25px;
          height: 25px;
        }
      }

      &:hover {
        background: $red;
      }
    }
  }
}

.darkMode {
  background: $dark-background;

  .wrapper {
    .notes {
      .noResults {
        color: $dark-text;
      }
    }

    .reset {
      background: $dark-text;
      color: $dark-background;

      &:hover {
        color: $dark-text;
      }
    }
  }
}
