@import "../../styles/mixins.scss";

.root {
  position: relative;
  font-size: 1.3rem;

  .warning {
    display: flex;
    padding: 0 0.5rem 3rem;
    color: var(--red);

    .icon {
      display: flex;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.3rem;
    }
  }

  .form {
    position: relative;

    width: 100%;
    border-radius: 0.7rem;
    padding: 1.5rem 1.5rem 4rem;
    border: 0.1rem solid var(--white);
    margin: 0rem auto 3rem auto;

    background: var(--white);
    box-shadow: 0 0.1rem 0.5rem rgb(138, 137, 137);
    transition: background 0.2s, border 0.2s, box-shadow 0.2s;

    @include media-desktop {
      width: 80%;
      height: auto;
    }

    .input {
      width: 100%;
      padding: 0rem 3.5rem 1.5rem 2rem;

      font-size: 1em;
      font-family: inherit;

      resize: none;
      border: none;
      outline: none;

      transition: background 0.2s, color 0.2s;
    }

    .randomGeneratorBtn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 2.5rem;
      height: 2.5rem;
      color: var(--blue);

      &:hover {
        color: var(--dark-blue);
      }
    }

    .textEditor {
      position: relative;

      width: 100%;
      height: 100%;

      border-radius: 1rem;
      border: 0.1rem solid var(--gray);
      margin: 0 0 0.5rem;

      background: rgb(var(--dark-text), var(--20));
      transition: background 0.2s, color 0.2s, border 0.2s;

      .editorBtns {
        position: absolute;

        top: 1rem;
        right: 1rem;

        gap: 0.5rem;
        display: flex;

        @include media-tablet {
          gap: 1.2rem;
        }

        .copyBtn {
          width: 2rem;
          height: 2rem;

          color: var(--blue);

          &:hover {
            color: var(--dark-blue);
          }
        }
      }

      .textarea {
        width: 100%;
        height: 20rem;
        min-height: 10rem;
        max-height: 25rem;
        padding: 4rem 2rem 0;

        font-size: 1em;
        font-family: inherit;

        border: none;
        outline: none;
        resize: vertical;
        border-radius: 1rem;

        transition: background 0.2s, color 0.2s;
      }

      .placeholder {
        position: absolute;
        top: 0;
        color: var(--gray);
      }
    }

    .bottomBtns {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 0 1.5rem;

      gap: 2rem;
      display: flex;
      align-items: center;

      .backgroundColor,
      .imgAttachment,
      .undo,
      .redo {
        width: 2rem;
        height: 2rem;
        color: var(--blue);

        &:hover {
          color: var(--dark-blue);
        }
      }

      .redo {
        margin-right: auto;
      }

      .addBtn {
        width: 4.5rem;
        height: 4.5rem;
        transform: translateY(50%);
        margin-left: auto;

        color: var(--white);
        background: var(--blue);
        box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);

        &:hover {
          background: var(--dark-blue);
        }
      }
    }
  }
}

.darkMode {
  .form {
    border: 0.1rem solid var(--dark-gray);

    box-shadow: none;
    background: var(--dark-background);

    .input {
      color: var(--dark-text);
      background: var(--dark-background);

      &::placeholder {
        color: rgba(var(--dark-text), 0.7);
      }
    }

    .randomGeneratorBtn {
      color: var(--dark-text);

      &:hover {
        color: var(--yellow);
      }
    }

    .textEditor {
      border: 0.1rem solid var(--dark-gray);
      background: var(--dark-text) area;

      .editorBtns {
        .copyBtn {
          color: var(--dark-text);

          &:hover {
            color: var(--yellow);
          }
        }
      }

      .textarea {
        color: var(--dark-text);
        background: var(--dark-text) area;

        &::placeholder {
          color: rgba(var(--dark-text), 0.7);
        }
      }
    }

    .bottomBtns {
      .backgroundColor,
      .imgAttachment,
      .undo,
      .redo {
        color: var(--dark-text);
      }

      .addBtn {
        background: var(--dark-text);
        color: var(--dark-background);

        &:hover {
          background: var(--yellow);
        }
      }
    }
  }
}
