@import "../../styles/mixins.scss";

.root {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 4rem 2rem;
  border-top: 0.1rem solid #dddddd;

  color: #b2b0b0;
  font-size: 1.4rem;

  transition: border-top 0.2s, background 0.2s;
}

.darkMode {
  border-top: 0.1rem solid var(--dark-gray);
  background: var(--dark-background);
  color: var(--dark-text);
}
